/* reset style */
* {
  padding: 0;
  margin: 0;
  font-size: 13px;
}

ul, li {
  list-style: none;
}
/* end reset */

/* sticky footer */
html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0 0 70px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
}
/* end sticky footer */

body {
  font-family: 'Helvetica Neue', sans-serif;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.2em;
}

header {
  background-color: #ff2d4b;
  height: 70px;
  margin-bottom: 20px;
}

header h1 {
  color: white;
  width: 800px;
  margin: 0 auto;
  line-height: 70px;
}

section {
  width: 800px;
  margin: 0 auto;
}

.menu-container h2 {
  padding: 5px 0 5px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

ul.menu-list li {
  height: 50px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  padding: 0 10px 0;
}

ul.menu-list li > * {
  display: inline-block;
}

ul.menu-list .dish-name {
  width: 150px;
  font-size: 1.5em;
  line-height: 50px;
}

ul.menu-list .price {
  width: 100px;
  line-height: 50px;
  color: #ff2d4b;
}

ul.menu-list label {
  line-height: 50px;
}

ul.menu-list label input[type=checkbox] {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

div.submit {
  padding: 10px 0 10px;
  text-align: right;
}

div.submit button {
  background-color: #ff2d4b;
  border: 0;
  color: white;
  font-size: 1.5em;
  padding: 8px 12px;
}

footer {
  width: 100%;
  background-color: #ccc;
  line-height: 70px;
  text-align: center;
}
